
.box{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid blue;
}.container1{
    height: 300px;
    width: 400px;
    background-color: aquamarine;
    border: 2px solid orange;

    display: flex;

    flex-direction: row;
    justify-content: flex-start;
}
.container2{
    height: 300px;
    width: 400px;
    background-color: aquamarine;
    border: 2px solid orange;

    display: flex;

    flex-direction: row;
    justify-content: flex-end;
}
.container3{
    height: 300px;
    width: 400px;
    background-color: aquamarine;
    border: 2px solid orange;

    display: flex;

    flex-direction: row;
    justify-content: center;
}
.container4{
    height: 300px;
    width: 400px;
    background-color: aquamarine;
    border: 2px solid orange;

    display: flex;

    flex-direction: row;
    justify-content: space-around;
}
.container5{
    height: 300px;
    width: 400px;
    background-color: aquamarine;
    border: 2px solid orange;

    display: flex;

    flex-direction: row;
    justify-content: space-between;
}.container6{
    height: 500px;
    width: 400px;
    background-color: aquamarine;
    border: 2px solid orange;

    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
}